<?xml version="1.0"?>
<launch>
	<include file="$(find cats)/launch/robot_state.launch"/>

	<node pkg="rosbag" name="player" type="play" args="--clock /home/amsl/bagfiles/cats/2019/left_start.bag"/>

	<node pkg="rviz" name="rviz" type="rviz" args="-d /home/amsl/ros_catkin_ws/src/bev_converter/rviz/rwrc19_cats.rviz"/>
</launch>
