<launch>
    <arg name="max_range" default="18.0"/>
    <arg name="grid_num" default="60"/>
    <arg name="hz" default="100.0"/>

	<param name="use_sim_time" value="true"/>
	
	<node pkg="bev_converter" type="bev_converter" name="bev_converter" output="screen">
		<param name="RANGE" value="$(arg max_range)" type="double"/>
		<param name="GRID_NUM" value="$(arg grid_num)" type="int"/>
		<param name="Hz" value="$(arg hz)" type="double"/>
	</node>

	<!-- <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/> -->
	<!-- <include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch"/> -->
	<include file="$(find cats)/launch/robot_state.launch"/>

	<node pkg="rosbag" name="player" type="play" args="--clock /home/amsl/bagfiles/cats/2019/left_start.bag"/>

	<node pkg="rviz" name="rviz" type="rviz" args="-d /home/amsl/.rviz/bev.rviz"/>
</launch>
